[Desktop Entry]
X-SuSE-translate=true
Categories=Finance;Office
Name=Taxbird
GenericName=Taxbird
Comment=freier Elster-Client für Linux
Type=Application
Exec=taxbird
Icon=taxbird.xpm
Encoding=UTF-8
Terminal=false
MimeType=application/x-taxbird
