[Desktop Entry]
X-SuSE-translate=true
Categories=Finance
Name=Taxbird
GenericName=Taxbird
Comment=freier Elster-Client für Linux
Type=Application
Exec=taxbird
Icon=
Encoding=UTF-8
Terminal=false
